* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

body {
  background-color: #f7ebe5;
}

.btn-primary {
  background-color: #a26059;
  border-color: #a26059;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #a26059;
  border-color: #a26059;
  border-color: none;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: #f6ddd9 !important;
  border-color: #f0e1df !important;
  color: black !important;
  box-shadow: none !important;
}

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 410px;
  width: auto;
  overflow-y: hidden;
}
html {
  scroll-behavior: smooth;
}

.clients-bar {
  background-color: #edd8d5;
}

.reels {
  position: absolute;
  top: -50px;
}

.instagram-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 350px;
  width: auto;
  overflow-y: hidden;
}

.pictures {
  position: absolute;
  top: -50px;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 400px;
  }

  .about-button {
    margin-bottom: 10px;
  }
}
